- name: delete_identities | Delete service principal
  when: delete_csp | d(true)
  block:
    - name: delete_identities | Get existing AD Application
      azure.azcollection.azure_rm_adapplication_info:
        app_display_name: "{{ cluster_name }}-{{ resource_group }}-sp"
      delegate_to: localhost
      register: ad_app_info
    - name: delete_identities | Show existing AD Service Principal
      when: ad_app_info.applications | length > 0
      azure.azcollection.azure_rm_adserviceprincipal_info:
        app_id: "{{ ad_app_info.applications[0].app_id }}"
      delegate_to: localhost
      register: ad_sp_info
    - name: delete_identities | Delete Azure AD Application
      when: ad_app_info.applications | length > 0
      azure.azcollection.azure_rm_adapplication:
        display_name: "{{ cluster_name }}-{{ resource_group }}-sp"
        state: absent
      register: ad_app
      delegate_to: localhost
    - name: delete_identities | Delete Service Principal for the Application
      when: ad_app is changed # noqa: no-handler
      azure.azcollection.azure_rm_adserviceprincipal:
        app_id: "{{ ad_app.app_id }}"
        state: absent
      delegate_to: localhost
      register: ad_sp

- name: delete_identities | Delete service principal and app
  when: aro_cluster_state.properties.servicePrincipalProfile.clientId | d("") != ""
  block:
    - name: delete_identities | Get service principal
      azure.azcollection.azure_rm_adserviceprincipal_info:
        app_id: "{{ aro_cluster_state.servicePrincipalProfile.clientId }}"
      delegate_to: localhost
      register: aro_ad_sp_info
      changed_when: false
    - name: delete_identities | Debug aro_ad_sp_info
      ansible.builtin.debug:
        var: aro_ad_sp_info
        verbosity: 1
    - name: delete_identities | Delete service principal
      azure.azcollection.azure_rm_adserviceprincipal:
        app_id: "{{ aro_ad_sp_info.id }}"
        state: absent
      register: delete_sp
      delegate_to: localhost
    - name: delete_identities | Delete ad application
      azure.azcollection.azure_rm_adapplication:
        app_id: "{{ aro_ad_sp_info.appId }}"
        display_name: "{{ aro_ad_sp_info.displayName }}"
        state: absent
      register: delete_app
      delegate_to: localhost

- name: delete_identities | Delete platformWorkloadIdentities
  when: aro_cluster_state.properties.platformWorkloadIdentityProfile.platformWorkloadIdentities | d({}) | length > 0
  loop: "{{ aro_cluster_state.properties.platformWorkloadIdentityProfile.platformWorkloadIdentities.items() }}"
  ansible.builtin.command:
    argv: "{{ argv | reject('equalto', omit) | list }}"
  vars:
    argv:
      - az
      - identity
      - delete
      - --name={{ cluster_name }}-{{ item[0] }}
      - --ids={{ item[1] }}
      - --resource-group={{ resource_group }}
  register: delete_identities_delete_platform_workload_identity
  changed_when: delete_identities_delete_platform_workload_identity.rc == 0
  delegate_to: localhost

- name: delete_identities | Delete Cluster MSI
  when: aro_cluster_state.identity.userAssignedIdentities | d({}) | length > 0
  loop: "{{ aro_cluster_state.identity.userAssignedIdentities.items() }}"
  ansible.builtin.command:
    argv: "{{ argv | reject('equalto', omit) | list }}"
  vars:
    argv:
      - az
      - identity
      - delete
      - --ids={{ item[0] }}
      - --resource-group={{ resource_group }}
  register: delete_identities_delete_cluster_msi
  changed_when: delete_identities_delete_cluster_msi.rc == 0
  delegate_to: localhost
