---
- name: refresh_credentials | Get original secret/azure-credentials
  kubernetes.core.k8s_info:
    ca_cert: "{{ cluster_cert_file }}"
    kubeconfig: "{{ inventory_hostname }}.kubeconfig"
    api_version: v1
    kind: Secret
    name: azure-credentials
    namespace: kube-system
  delegate_to: "{{ delegation }}"
  register: oc_get_azure_credentials
- name: refresh_credentials | Az aro update refresh-credentials
  ansible.builtin.command:
    argv:
      - az
      - aro
      - update
      - --name={{ cluster_name }}
      - --resource-group={{ resource_group }}
      - --refresh-credentials
      - -o=yaml
  delegate_to: localhost
  register: az_aro_update
  changed_when: az_aro_update.rc == 0
  # FIXME: Need to investigate why this occasionally fails with InternalServerError
  retries: 3
  delay: 60
- name: refresh_credentials | Wait for provisioningState to become Succeeded
  azureredhatopenshift.cluster.azure_rm_openshiftmanagedcluster_info:
    api_version: "{{ aro_api_version | d(omit) }}"
    rp_mode: "{{ rp_mode | default(omit) }}"
    name: "{{ cluster_name }}"
    resource_group: "{{ resource_group }}"
  delegate_to: localhost
  register: cluster_status
  until: cluster_status.clusters.properties.provisioningState == 'Succeeded'
- name: refresh_credentials | Get new secret/azure-credentials
  kubernetes.core.k8s_info:
    ca_cert: "{{ cluster_cert_file }}"
    kubeconfig: "{{ inventory_hostname }}.kubeconfig"
    api_version: v1
    kind: Secret
    name: azure-credentials
    namespace: kube-system
  delegate_to: "{{ delegation }}"
  register: oc_get_azure_credentials_new
- name: refresh_credentials | Verify secrets have changed
  when: oc_get_azure_credentials == oc_get_azure_credentials_new
  ansible.builtin.fail:
    msg: "Secret/azure-credentials did not change after `az aro update`"
